.container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrap{   
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}