.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.auction-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auction-table thead {
    background: rgba(229, 87, 241, 0.925);
    text-align: center;
    font-weight: bold;
}

.auction-table th, 
.auction-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}


.auction-table th {
    font-size: 16px;
    color: #333;
}

.auction-table tbody tr:hover {
    background: #f9f9f9;
    cursor: pointer;
}

.auction-box{
    width: 100%;
}

.auction-Btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f4f4f4;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.auction-Btn:hover {
    background: #e0e0e0;
    transform: scale(1.02);
}

.auction-detail {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 14px;
    color: #555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auction-detail > div{
    display: flex;
    justify-content: space-between;
}

.auction-detail div > p {
    color: black;
    margin: 5px 0;
    line-height: 1.4;
    label{
        color: grey;
    }
}

.auction-detail div > p:nth-child(2){
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
    padding: 8px 12px;
    font-size: 14px;
    color: #fff;
    background: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}
